@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;500&family=Overpass:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap');

h1 {
    font-family: 'Overpass', sans-serif;
    color: red;
}
p {
    font-family: 'Overpass';
    width: 50%;
}
th {
    font-family: 'Overpass';
    color: red;
    font-size: 20px;
    text-align: center;
    text-overflow:inherit;
}
table {
    font-family: 'Overpass', monospace;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
td {
    font-family: 'Overpass Mono', monospace;
    border: 1PX solid black;
}
th {
    font-family: 'Overpass';
    background-color: #04AA6D;
    color: white;
}
th button {
    background-color: aliceblue;
    border: 1px solid black;
}
th button:hover {
    border: 2px solid black;
}
tr {
    font-family: 'Overpass-Mono';
    background-color: lightblue;
}
tr:hover {
    background-color: aquamarine;
}
.time{
    background-color: antiquewhite;
    width: max-content;
}
.filter {
    background-color: #0ae896;
    border: 1px solid black;
}
.filter button {
    border: 1px solid black;
}
.filter select {
    border: 0px solid black;
}
label {
    color: black;
    font-weight: bolder;
}

a img {
    border: 1px solid black;
    
}
a img:hover {
    background-color: aquamarine;
}
.btn_info {
    height: 24px;
}
.btn_info label {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    vertical-align:top
}