h1 {
    color: red;
}
p {
    width: 50%;
}
th {
    color: red;
    font-size: 20px;
    text-align: center;
    text-overflow:inherit;
}
table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1PX solid black;
}
th {
    background-color: #04AA6D;
    color: white;
}
th button {
    background-color: aliceblue;
    border: 1px solid black;
}
th button:hover {
    border: 2px solid black;
}
tr {
    background-color: lightblue;
}
tr:hover {
    background-color: aquamarine;
}
.time{
    background-color: antiquewhite;
    width: max-content;
}
.filter {
    background-color: #0ae896;
    border: 1px solid black;
}
.filter button {
    border: 1px solid black;
}
.filter select {
    border: 0px solid black;
}
label {
    color: black;
    font-weight: bolder;
}
a {
    background-color: blue;
}